{% load static %}
{% comment %} {% load women_tags %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta name="keywords" content="foo,bar"/>
        <meta name="description" content="foo"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link type="text/css"
              href="{% static 'women/css/styles.css' %}"
              rel="stylesheet"/>
        <link rel="shortcut icon"
              href="{% static 'women/images/main.ico' %}"
              type="image/x-icon"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <table class="table-page" border=0 cellpadding="0" cellspacing="0">
            <tr>
                <td valign=top>
                    {% comment %} {% show_menu %} {% endcomment %}
                    {% include "women/menu.html" %}
                
                    <table class="table-content" border=0 cellpadding="0" cellspacing="0">
                        <tr>
                            <!-- Sidebar слева -->
                            <td valign="top" class="left-chapters">
                                <ul id="leftchapters">
                                    {% if cat_selected == 0 %}
                                        <li class="selected">All categoties</li>
                                    {% else %}
                                        <li>
                                            <a href="{% url 'home' %}">All categoties</a>
                                        </li>
                                    {% endif %}
                                    {% comment %} this is sort by name in tempaltes,
                                    but if we want to give only 1 argument we must write
                                    cat_selected = cat_selected {% endcomment %}
                                    <!-- We comment our tamlatetag tu use mixins -->
                                    {% comment %} {% show_categories '-name' cat_selected %} {% endcomment %}
                                    {% for c in cats %}
                                    {% if c.get_posts__count > 0 %}
                                        {% if c.pk == cat_selected %} 
                                        
                                            <li class="selected">{{ c.name }}</li>
                                        {% else %}
                                            <li>
                                                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                            </li>
                                        {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <li class="share">
                                        <p>Наш канал</p>
                                        <a class="share-yt"
                                           href="https://www.youtube.com/"
                                           target="_blank"
                                           rel="nofollow"></a>
                                    </li>
                                </ul>
                            </td>
                            <!-- Конец Sidebar'а -->
                            <td valign="top" class="content">
                                <!-- Хлебные крошки -->
                                {% block breadcrumbs %}
                                {% endblock breadcrumbs %}
                                <!-- Блок контента -->
                                <div class="content-text">
                                    {% block content %}
                                    {% endblock content %}
                                </div>
                                <!-- Конец блока контента -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Footer -->
            <tr>
                <td valign=top>
                    <div id="footer">
                        <p>
                            copy; 2021 Частичное или полное копирование информации с данного сайта для распространения на
                            других ресурсах, в том числе и бумажных, строго запрещено.
                        </p>
                    </div>
                </td>
            </tr>
        </table>
        <!-- Конец footer'а и страницы -->
    </body>
</html>
